div.planing {
  div.container-scroll {
    overflow-x: auto;
  }
  div.grid-panel {
    display: inline-block;
    min-width: 900px;
  }
  div.summary-item-readonly {
    h4 {
      color: grey;
    }
  }
  div.summary-item {
    padding: 2px 5px;
    height: 100px;
    h4 {
      text-align: left;
      font-size: 14px;
      font-weight: bold;
      margin-top: 2px;
    }
    h5 {
      font-size: 11px;
      color: white;
      text-align: left;
      line-height: 18px;
      white-space: nowrap;
      margin-top: 20px;
      font-style: italic;
    }
    h5.box {
      padding: 2px 5px;
    }
    h5.box-gray {
      background-color: gray;
    }
  }
}
